@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; 
  box-sizing: border-box; /* Garante que o box model seja consistente */
}

body {
  font-family: Arial, sans-serif; /* Fonte padrão */
  background-color: black; /* Fundo claro */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  box-sizing: inherit; /* Aplica o box-sizing a todos os elementos */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-outline {
  -webkit-text-stroke: 1px #fff;
  
}
